<a href="https://colab.research.google.com/github/NopeSieun/machine_learning_pracrice/blob/main/machine_learning_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas 라이브러리를 활용한 데이터 전처리

In [1]:
import os
import pandas as pd

In [2]:
os.listdir('./drive/MyDrive/Machine_learning/machine_learning_data')

['Naver_opinion.txt',
 'abalone.data',
 'crawlings__210510.log',
 'wc_result1.png',
 'wc_result.png',
 'new_friend_index_true.csv',
 'test_csv.txt',
 'dolphine.jpg',
 'NanumBarunGothic.ttf',
 'test.csv',
 'train.csv',
 'friend.csv',
 'train_data.csv',
 '.ipynb_checkpoints',
 'new_friend.csv']

In [3]:
#데이터 폴더 src 변수 할당
base_src = './drive/MyDrive/Machine_learning/machine_learning_data'
#friend csv 파일 src 변수 할당
friend_src = base_src + '/friend.csv'

In [4]:
#pandas의 read_csv => 데이터 불러오기 
df = pd.read_csv(friend_src,encoding='utf-8')

In [5]:
#head() 데이터frame 읽어보기 => 기본적으로 5개만 읽음
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [6]:
new_friend_src = base_src+'/new_friend.csv'

In [7]:
df.to_csv(new_friend_src, index=False, encoding='utf-8')
#index=False가 없으면 쓸데없는 인덱스 데이터가 발생함
#인덱스 = 조회를 하기 위해 사용 / 데이터 정렬을 위해 사용

In [8]:
os.listdir(base_src)

['Naver_opinion.txt',
 'abalone.data',
 'crawlings__210510.log',
 'wc_result1.png',
 'wc_result.png',
 'new_friend_index_true.csv',
 'test_csv.txt',
 'dolphine.jpg',
 'NanumBarunGothic.ttf',
 'test.csv',
 'train.csv',
 'friend.csv',
 'train_data.csv',
 '.ipynb_checkpoints',
 'new_friend.csv']

##Series 실습

In [9]:
#Series 실습
import numpy as np
np.array([1,2,3])

array([1, 2, 3])

In [10]:
pd.Series([1,2,3])
#pd와 numpy 적절하게 사용하기 -> 인덱스가 필요한 경우 pd 사용

0    1
1    2
2    3
dtype: int64

In [11]:
series = df['name']
series #변수 읽어오기

0     John
1    Jenny
2     Nate
3    Julia
4    Brian
5    Chris
Name: name, dtype: object

In [12]:
series = pd.Series([10,2,5,4],index=['a','b','c','d'],dtype=float)
series = series.sort_values(ascending=True) #정렬하기

In [13]:
series.sort_values(ascending=True)

b     2.0
d     4.0
c     5.0
a    10.0
dtype: float64

##Dataframe 실습

In [14]:
df = pd.DataFrame({'a':[2,3], 'b':[5,10]})
df#딕셔너리 형태로 넣을 수 있음

   a   b
0  2   5
1  3  10

In [15]:
df = pd.DataFrame([[2,5],[3,10],[10,20]],columns=['a','b'])
df

    a   b
0   2   5
1   3  10
2  10  20

##DataFrame 헹,열 선택 및 필터링

In [16]:
df = pd.read_csv(friend_src,encoding='utf-8')
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [17]:
#index 2번에 해당하는 row 가져오기 
#Series기 된다. 
df.iloc[2]

name       Nate
age          30
job     teacher
Name: 2, dtype: object

In [18]:
#data형태로 가져오기
df.iloc[[2]]

   name  age      job
2  Nate   30  teacher

In [19]:
df['job']
#특정 데이터만 가져오기

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [20]:
df.iloc[:,2]

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [21]:
df.loc[:,'job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [22]:
df.iloc[2:4]

    name  age      job
2   Nate   30  teacher
3  Julia   40  dentist

In [23]:
df['age'] #pandas자체에서 dtype 판단하고 출력(ex.자동으로 int로 출력)

0    20
1    30
2    30
3    40
4    45
5    25
Name: age, dtype: int64

iloc VS loc (상황에 맞게 선택하는 것 중요)

⇒ iloc 사용 시 리스트의 인덱스 처럼 0부터 시작하는 순서를 매개변수로 사용

(index와 column을 list 배열로 선택하는 것)

⇒ loc 사용 시 데이터 프레임에 사용된 column, index 이름을 매개변수로 사용

(index와 column을 문자로 선택하는 것)

##pandas 라이브러리를 활용한 데이터 전처리

In [26]:
#슬라이싱 기능을 통해 여러 행 가져오기
df.iloc[[2,3]] #슬라이싱 개념 쓰기x

    name  age      job
2   Nate   30  teacher
3  Julia   40  dentist

In [27]:
df.iloc[2:4] #슬라이싱 개념 사용하면 나중에 편해진다.

    name  age      job
2   Nate   30  teacher
3  Julia   40  dentist

In [31]:
#조건 필터링 가져오기
#30대 이상만 가져오기 
df[df['age']>=30]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [32]:
##job이 intern인 사람 가져오기 
df[df['job'] == 'intern']

    name  age     job
5  Chris   25  intern

In [34]:
#조건이 여러개인 경우 => and function

df[(df['age']>=30) & (df['age']<=40)]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist

In [35]:
#or function
df[(df['age']<30) | (df['age']>40)]

    name  age      job
0   John   20  student
4  Brian   45  manager
5  Chris   25   intern