<a href="https://colab.research.google.com/github/NopeSieun/machine_learning_pracrice/blob/main/machine_learning_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas 라이브러리를 활용한 데이터 전처리

In [34]:
import os
import pandas as pd

In [35]:
os.listdir('./drive/MyDrive/Machine_learning/machine_learning_data')

['crawlings__210510.log',
 'test_csv.txt',
 'new_friend.csv',
 'Naver_opinion.txt',
 'new_friend_index_true.csv',
 'friend.csv',
 'NanumBarunGothic.ttf',
 'wc_result.png',
 'wc_result1.png',
 'abalone.data',
 'dolphine.jpg',
 '.ipynb_checkpoints',
 'test.csv',
 'train_data.csv',
 'train.csv']

In [36]:
#데이터 폴더 src 변수 할당
base_src = './drive/MyDrive/Machine_learning/machine_learning_data'
#friend csv 파일 src 변수 할당
friend_src = base_src + '/friend.csv'

In [38]:
#pandas의 read_csv => 데이터 불러오기 
df = pd.read_csv(friend_src,encoding='utf-8')

In [39]:
#head() 데이터frame 읽어보기 => 기본적으로 5개만 읽음
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [40]:
new_friend_src = base_src+'/new_friend.csv'

In [42]:
df.to_csv(new_friend_src, index=False, encoding='utf-8')
#index=False가 없으면 쓸데없는 인덱스 데이터가 발생함
#인덱스 = 조회를 하기 위해 사용 / 데이터 정렬을 위해 사용

In [43]:
os.listdir(base_src)

['crawlings__210510.log',
 'test_csv.txt',
 'new_friend.csv',
 'Naver_opinion.txt',
 'new_friend_index_true.csv',
 'friend.csv',
 'NanumBarunGothic.ttf',
 'wc_result.png',
 'wc_result1.png',
 'abalone.data',
 'dolphine.jpg',
 '.ipynb_checkpoints',
 'test.csv',
 'train_data.csv',
 'train.csv']

##Series 실습

In [44]:
#Series 실습
import numpy as np
np.array([1,2,3])

array([1, 2, 3])

In [45]:
pd.Series([1,2,3])
#pd와 numpy 적절하게 사용하기 -> 인덱스가 필요한 경우 pd 사용

0    1
1    2
2    3
dtype: int64

In [46]:
series = df['name']
series #변수 읽어오기

0     John
1    Jenny
2     Nate
3    Julia
4    Brian
5    Chris
Name: name, dtype: object

In [47]:
series = pd.Series([10,2,5,4],index=['a','b','c','d'],dtype=float)
series = series.sort_values(ascending=True) #정렬하기

In [48]:
series.sort_values(ascending=True)

b     2.0
d     4.0
c     5.0
a    10.0
dtype: float64

##Dataframe 실습

In [51]:
df = pd.DataFrame({'a':[2,3], 'b':[5,10]})
df#딕셔너리 형태로 넣을 수 있음

   a   b
0  2   5
1  3  10

In [50]:
df = pd.DataFrame([[2,5],[3,10],[10,20]],columns=['a','b'])
df

    a   b
0   2   5
1   3  10
2  10  20